@page "/"
@using System.Text.Json
@using System.Text.Json.Serialization

@inject IHttpClientFactory ClientFactory

@using OneInc.Common.Model;

<PageTitle>Index</PageTitle>

<h1>String Encoder</h1>

<EditForm Model="@encodedString">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="txtString">String to Encode</label>
        <InputText id="txtString" @bind-Value="encodedString.Id" class="form-control" />
        <ValidationMessage For="() => encodedString.Id" />
    </div>
    <div class="form-group">
        <label for="txtEncoded">Encoded String</label>
        <InputText id="txtEncoded" readonly="readonly" @bind-Value="encodedString.EncodedValue" class="form-control" />
    </div>
    <hr />
    @if (cmdStartDisableState == true)
    {
        <button class="btn btn-primary" @onclick="cmdStart" disabled>Start Encoding </button>
    }
    else
    {
        <button class="btn btn-primary" @onclick="cmdStart">Start Encoding</button>
    }

    <button class="btn btn-secondary" @onclick="cmdStop">Stop Encoding</button>
</EditForm>
@code {
    private EncodedString encodedString = new();
    bool cmdStartDisableState = false;
    bool encodingInProcess = false;
    static CancellationTokenSource cancellationTokenSource = new CancellationTokenSource();
    CancellationToken token = cancellationTokenSource.Token;
    static int cont = 0;

    private async void cmdStart()
    {
        if (!string.IsNullOrEmpty(encodedString.Id))
        {
            cmdStartDisableState = true;
            encodingInProcess = true;
            var cachedValue = await IsCached(encodedString.Id);
            if (cachedValue.found)
            {
                await GetEncoded(cachedValue.encodedString.EncodedValue.ToString(), token);
            }
            else
            {
                var encodedStr = await EncodeString(encodedString.Id);
                await GetEncoded(encodedStr.EncodedValue.ToString(), token);
            }

            return;
        }
        var strToEncode = encodedString.Id;
    }

    private void cmdStop()
    {
        cancellationTokenSource.Cancel();
        cmdStartDisableState = false;
    }

    private async Task GetEncoded(string encoded, CancellationToken token)
    {
        Random rnd = new Random();
        try
        {
            string value = string.Empty;
            int waitingValue = 0;

            for (int i = 0; i <= encoded.Length - 1; i++)
            {
                waitingValue = rnd.Next(5) * 1000;
                await Task.Delay(waitingValue);

                encodedString.EncodedValue += encoded[i];
                StateHasChanged();

                if (token.IsCancellationRequested)
                {
                    throw new OperationCanceledException("canceled by user", token);
                };
                Console.WriteLine($"seconds -> {waitingValue}");
                Console.WriteLine(encoded[i]);
            }
            return;
        }
        catch (OperationCanceledException ex)
        {
            Console.WriteLine(ex.Message);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private async Task<EncodedString> EncodeString(string id)
    {
        HttpClientHandler clientHandler = new HttpClientHandler();
        clientHandler.ServerCertificateCustomValidationCallback = (sender, cert, chain, sslPolicyErrors) => { return true; };

        // Pass the handler to httpclient(from you are calling api)
        HttpClient client = new HttpClient(clientHandler);

        using var response = await client.PostAsJsonAsync($"https://oneincapi/api/EncodedStrings?id={id}", id);

        if (response.IsSuccessStatusCode)
        {
            var encodedResponse = await client.GetAsync($"https://oneincapi/api/EncodedStrings/{id}", HttpCompletionOption.ResponseHeadersRead);

            if (encodedResponse.IsSuccessStatusCode)
            {
                var responseString = await response.Content.ReadAsStringAsync(CancellationToken.None);
                var res = JsonSerializer.Deserialize<EncodedString>(responseString);
                return res;
            }
        }
        return null;
    }

    private async Task<(EncodedString? encodedString, bool found)> IsCached(string id)
    {
        HttpClientHandler clientHandler = new HttpClientHandler();
        clientHandler.ServerCertificateCustomValidationCallback = (sender, cert, chain, sslPolicyErrors) => { return true; };

        // Pass the handler to httpclient(from you are calling api)
        HttpClient client = new HttpClient(clientHandler);

        var response = await client.GetAsync($"https://oneincapi/api/EncodedStrings/{id}", HttpCompletionOption.ResponseHeadersRead);

        if (response.IsSuccessStatusCode)
        {
            var responseString = await response.Content.ReadAsStringAsync(CancellationToken.None);
            var res = JsonSerializer.Deserialize<EncodedString>(responseString);
            return (res, true);
        }
        else
        {
            return (null, false);
        }
    }

}
